/* 초기화 */
* {
  
  margin: 0;
  padding: 0;
}
/* 플로팅버튼 */
.toTopScroll {
  position: fixed;
  z-index: 1;
  overflow: hidden;
  right: 5px;
  bottom: 5px;
  background-color: transparent;
  margin: 0;
  padding: 0;
  cursor: pointer;
}
/* 탑메뉴 */
.topMenu span a {
  text-decoration: none;
  color: #5a5a5a;
}
.topMenu span a:link {
  color: #5a5a5a;
}
.topMenu span a:hover {
  color: #5a5a5a;
}
.top {
  width: 100%;
  height: 30px;
  color: #777777;
  font-size: 12px;
  font-weight: normal;
  text-align: right;
  border-bottom: 1px solid #ddd;
}
.topMenu {
  width: 90%;
  text-align: right;
  vertical-align: middle;
  line-height: 30px;
}
.topMenu span {
  padding: 5px;
}
/* .topMenu a {
  margin-bottom: 0;
  text-decoration: none;
  color: #777777;
} */

.topMenu .home {
  background-image: url(../img/home01.png);
  background-repeat: no-repeat;
  background-position: -10% -50%;
}
.home > a {
  padding: 0 0 0 22px;
}

/* 네비바의 로그인,회원가입 */
.ljoin {
  border-top: 1px solid rgb(202, 202, 202);
  border-bottom: 1px solid rgb(202, 202, 202);
  padding-top: 5px;
  padding-bottom: 5px;
}
.ljoin a {
  font-size: 12px;
  color: #555555;
}
.ljoin a:hover {
  text-decoration: none;
  color: #555555;
}

/* 네비바의 드롭다운메뉴 */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(17, 14, 14);
  min-width: 120px;
  z-index: 1;
  font-size: 12px;
  margin-top: 30px;
  margin-left: 30px;
}
.dropdown-content a {
  display: block;
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  text-align: left;
  background-color: black;
}
.dropdown-content a:link {
  color: white;
}
.dropdown-content a:hover {
  color: white;
  text-decoration: underline;
}
.dropdown-content a:visited {
  color: white;
}
/* 드롭다운메뉴의 마우스오버시 팝업 */
.dropdown:hover .dropdown-content {
  display: block;
}

/* 캐러셀 */

/* 섹션2 */

/* 섹션3 */
#mb01 {width: 200px; height: 230px; margin: 10px;}
#mb02 {width: 200px; height: 230px; margin: 10px;}
#mb03 {width: 200px; height: 230px; margin: 10px;}
#mb04 {width: 200px; height: 230px; margin: 10px;}
#mp05 {margin: 10px; width: 470px; height: 480px;}
.b2{display: flex; flex-direction:row;}
.b1 {float: left; display: flex; flex-direction: row;}
.B {display: flex; flex-direction: column;}



.proMain {
  width: 100%;
  background-color: rgb(231, 231, 231);
  padding-bottom: 50px;
}
.proSection1 {
  padding-top: 20px;
  text-align: center;
}
.proSection1 span {
  color: #777777;
}
.proSection2 {
  display: flex;
  flex-flow: row wrap;
}
.proSection3 {
  display: flex;
  flex-flow: row wrap;
  width: 48%;
  height: 500px;
  padding-left: 3px;
}
.contents1 {
  height: 500px;
  width: 48%;
  padding: 3px;
}
.contents1 img,
.contents2 img,
.contents3 img,
.contents4 img,
.contents5 img {
  width: 100%;
  height: 100%;
}
.con1 {
  position: relative;
  width: 50%;
}
.contents2 {
  height: 250px;
  flex: 1 40%;
  padding: 3px;
}
.contents3 {
  height: 250px;
  flex: 1 40%;
  padding: 3px;
}
.contents4 {
  height: 250px;
  flex: 1 40%;
  padding: 3px;
}
.contents5 {
  height: 250px;
  flex: 1 40%;
  padding: 3px;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 1s ease;
}
.con1:hover .overlay {
  opacity: 0.8;
  background-color: black;
}
.con2 {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.con2 button {
  width: 100px;
  height: 30px;
  font-size: 12px;
  border: 1px solid white;
  background-color: rgba(0, 0, 0, 0);
  color: white;
}




/* 섹션4 */
.businessMain {
  padding-top: 60px;
  padding-bottom: 60px;
  width: 100%;
}
.businessSection1 {
  text-align: center;
}
.businessSection1 p {
  color: #777777;
}
.businessSection2 {
  width: 100%;
  display: flex;
  flex-flow: row wrap;

  justify-content: center;
  align-content: center;
}
.businessSection2 p {
  font-size: 12px;
}
.businessCard div {
  padding: 10px;
  color: black;
}
.businessCard a:hover {
  text-decoration: none;
}
.businessCard h4 {
  font-size: 14px;
}
.businessCard {
  border: 1px solid rgb(197, 197, 197);
  margin: 10px;
  max-width: 250px;

  flex: 1 22%;

  overflow: hidden;
  position: relative;
  width: 50%;
}
.businessImg {
  width: 100%;
  transition: all 0.2s linear;
}
.businessCard:hover .businessImg {
  transform: scale(1.2, 1.2);
}
/* 섹션5 */
.sec5img{
  background-image: url('../img/visual01.jpg');
  height: 250px;
}

/* 섹션6 */
ul{display: flex; flex-direction: row; justify-content: space-between;}
li{display: flex; flex-direction: row; justify-content: space-between;}
#di {width: 400px; height: 200px;}
#bx {display: flex; flex-direction: row-reverse; width: 550px; }
#box1 {margin: 5px; padding: 5px;}
#box2 {margin: 5px; padding: 5px;}
#box3 {margin: 5px; padding: 5px;}
#row {display: flex; flex-direction: row; justify-content: space-between;}
a:link {color: gray; text-decoration: none;}
a:visited {color: gray; text-decoration: none;}
#ah{color: white; text-decoration: none;}
#lista:hover {opacity: 1;}


/* footer */


/* 테블릿 */
@media screen and (min-width: 768px) and (max-width: 959px) {
}
/* 모바일 */
@media screen and (max-width: 767px) and (orientation: portrait) {
  /* product */
  
  /* business */
  
  /* cs */
  
  /* footer */
 

}
